version: "3.7"
services:
  nginx:
    container_name: nginx
    image: nginx:latest
    volumes:
      - .:/code
      - ./config/nginx:/etc/nginx/conf.d
    ports:
      - "80:80"
    depends_on:
      - python



  python:
    container_name: python
    build: .
    volumes:
      - .:/code
    command: bash -c "python manage.py collectstatic --noinput && python manage.py makemigrations  && python manage.py migrate && gunicorn workapp.wsgi:application --bind 0.0.0.0:8000 --reload"
    expose:
      - "8000"
