<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} WorkApp {% endblock title %}</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap-5.0.2-dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "styles/base.css" %}">
    <script src="{% static "bootstrap-5.0.2-dist/js/bootstrap.min.js" %}"></script>
    {% block extra_style %}{% endblock extra_style %}
</head>
<body>
    {% block content %}{% endblock content %}
    {% block extra_script %}{% endblock extra_script %}
</body>
</html>